#cart_wrapper{

  position: relative;
  width: 100%;
  height: 100%;
  float: right;
  margin: 40px auto 20px auto;
}

#shopped_items {
  
  position: relative;
  
  height: 550px;
  width: 800px;
  float: right;
  
  margin-right: 40px;
  
  background : lightgrey;
}

#summary {

  position: relative;
  height: 450px;
  width: 300px;  
  float: right;
  
  margin-right: 40px;
  
  background : lightgrey;
}